extends ../layout/layout

block content

  style.
     body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
     .header {
        background-color: #2F3C7E;
        color: #FBEAEB;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
     }
     .container {
        max-width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow-y: auto; // Enable vertical scroll
     }
     .form {
        width: 80%;
     }
     .form-group {
        margin-bottom: 10px;
     }
     .form-group label {
        display: block;
        margin-bottom: 5px;
     }
     .form-group input {
        width: 50%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 16px;
     }
     .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
     }
     .btn-primary {
        background-color: #2F3C7E; /* Match the header background */
        color: white;
     }
     .btn-secondary {
        background-color: #6c757d;
        color: white;
     }
     .btn-container {
        text-align: right;
        margin-top: 20px;
     }
     .bttt {
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: left;
     }
     .bttt a {
        color: white;
        background: #2F3C7E;
        padding: 10px 20px;
        border-radius: 3px;
        text-decoration: none;
     }

  .bttt
    a.btn.btn-primary(href="/AssetCategory") Back

  .header
    h2 Edit Employee

  .container
    form(action=`/assetcategory/${dataValues.id}?_method=PUT`, method="POST")
     
      .form-group
        label(for="categoryName") Asset Category:
        input#firstName(type="text", name="categoryName", value=`${dataValues.categoryName}` required)
     
      
      .btn-container
        button.btn.btn-primary(type="submit") Edit
