
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title KT TELMATIC
    style.
      body {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100vh;
        overflow: hidden;
      }
      .sidebar {
        width: 200px; /* Increased from 200px to 300px */
        background-color: #2F3C7E;
        color: white;
        margin: 1%;
        box-shadow: 1px 1px solid black;
        height: 100%;
        border-radius: 1%;
      }
      .sidebar ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin-top: 10%;
        text-align: center;
      }
      .sidebar li {
        padding: 10px 0;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
      }
      .sidebar a:hover {
        background-color: white;
        color: black;
      }
      .main-content {
        flex-grow: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
      iframe {
        flex-grow: 1;
        width: 100%;
        border: none;
      }
      .immgdiv {
        height: 15%;
        margin-top: 20px;
        margin-left: 30%;
      }
      .sid {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'bold';
        font-size: 15px;
      }
  body
    include ../sidebar
    .main-content
      block content
